<h2> Sorry! <h2>

  <h3> We couldn't find that e-mail address. Your trainer must first register your email address in our database before you can create a new account. </h3>
  <br>
  <h3> Use the wrong address? <a href='/clients/signup'>Click here</a> to return to the sign-up page to try again! </h3>
