<h3>Provide your client's email address below!</h3>
<h4>(Make sure to let them know this is the email address they will need to register with!)</h4>
<form method='POST' action='/clients/new'>
  <input type="text" name="email">
  <input type="submit" value="Lay the tracks!">
</form>