<h2> Login to your account here! </h2>
<form method='POST' action='/'>
  <input type="text" name="first_name">First name </input>
  <br>
  <input type="text" name="last_name">Last name </input>
  <br>
  <input type="text" name="email">E-mail </input>
  <br>
  <input type="password" name="password">Password </input>
  <br>
  <input type="submit" value="Get Your Train On!">
</form>
