<h2> Login to your account here! </h2>
<% if flash.has? (:message)%>
  <%=flash[:message]%>
  <%end%>
  <br>
<form method='POST' action='/show'>
  <input type="text" name="email">E-mail </input>
  <br>
  <input type="password" name="password">Password </input>
  <br>
  <input type="submit" value="Get Your Train On!">
</form>
<h3> <%=session[:error]%> </h3>
