<form method='POST' action='/plans'>
  <input type="text" name="title"> Plan Title </input>
  <br>
  <% Exercise.all.each do |exercise| %>
  <input type="checkbox" name="exercises[]" value="<%exercise.id%>"> <%=exercise.title%> </input>
  <% end %>
  <br>
  <input type="submit" value="Submit">
</form>
