<form method='POST' action='/exercises/new'>
  <input type="text" name="title"> Exercise Title </input>
  <br>
  <p> Body Region </p>
  <%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <input type="radio" name="body_region" value="<%=region%>"><%=region%></input>
  <% end %>
  <br>
  <br>
  <input type="text" name="description"> Exercise Instructions </input>
  <br>
  <input type="integer" name="sets"> Sets to Be Performed </input>
  <br>
  <input type="integer" name="reps"> Reps to Be Performed </input>
  <br>

  <input type="submit" value="Submit">
</form>
