<form method='POST' action='/exercises/new'>
  <input type="text" name="title"> Exercise Title </input>
  <br>
  <input type="text" name="description"> Exercise Instructions </input>
  <br>
  <input type="integer" name="sets"> Sets to Be Performed </input>
  <br>
  <input type="integer" name="reps"> Reps to Be Performed </input>
  <br>
  <input type="text" name="body_region"> Part of Body Being Exercised </input>
<p> Days of Week to Be Performed </p>
<%["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
<input type="checkbox" name="schedule[]" value="<%=day%>"><%=day%></input>
<% end %>

  <input type="submit" value="Submit">
</form>
